{% extends 'base.html' %}

{% block title %}
    <h1>History</h1>
{% endblock %}

{% block body %}
    <div class="container mt-5">
    <h1>History</h1>
    {% if eq|length>0 %}
        {% for el in eq %}
            <div class="alert alert-info">
                <h4>{{ el.a }}x^2 + {{ el.b }}x + {{ el.c }} = 0</h4>
                {% if el.result|length>0 %}
                    <p><b>Корни {{ el.result }}</b></p>
                {% else %}
                    <p><b>Корней нет</b></p>
                {% endif %}
                <p><b>Date {{ el.registration_date.date() }}</b></p>
            </div>
        {% endfor %}
    {% else %}
        <p>Нет решенных уравнений</p>
    {% endif %}

{% endblock %}
</div>